# Database
POSTGRES_USER=mediportal
POSTGRES_PASSWORD=mediportal123
POSTGRES_DB=mediportal_db
DATABASE_URL="postgresql://mediportal:mediportal123@localhost:5432/mediportal_db?schema=public"

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379

# Elasticsearch
ELASTICSEARCH_NODE=http://localhost:9200
ELASTIC_PASSWORD=elastic123

# App Ports
PORT_PUBLIC_WEB=3000
PORT_ADMIN_HMS=3001
PORT_API_SERVER=3002
